.test{
    color: red;
    border: solid red 19px;
}

*{
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
body{
    width: 400px;
    height: 400px;
}
.Base{
    background-color: #F5F7FB;
    width: 650px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.StartMenu
{
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.startText{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #293264;
    font-size: 15px;
}

.startTitle{
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 35px;
    color: #293264;
}

.StartButton{
    margin-top: 3px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #4D5B9E;
    font-size: 14px;
    cursor: pointer;
    font-weight: 300;
}

.yellowBubble{
height: 70px;
width: 70px;
border-radius: 50%;
background-color: lemonchiffon;
right: 0px;
position: absolute;
}

.blueBubble{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(159, 174, 219);
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.answer{
    color: #293264;
    background-color: #F5F7FB;
    border-style: solid;
    border-width: 2px;
    border-color: #4D5B9E;
    border-radius: 10px;
    margin-right: 10px;
    width: auto;
    height: 25px;
    cursor: pointer;
}

.ask{
    margin-bottom: 10px;
    color: #4D5B9E;
    max-width: 400px;
}

.solidHr{
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-color: rgb(229, 229, 229);
    width: 530px;
}

.QuestionList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Replay{
    height: 35px;
    width: 110px;
    border-color: #4D5B9E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
}